.text-content-in-color-box {
    padding-top: 8rem;
    padding-bottom: 8rem;

    @media (min-width: $mq-lg) {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    @media (min-width: 0px) and (max-width: 991.98px) {
        border-radius: 2.4rem 2.4rem 0 0;
        position: relative;

        &.bg-blue-light {
            & + .cta {
                background-color: var(--light-blue);
            }
        }
        &.bg-purple {
            & + .cta {
                background-color: var(--purple);
            }
        }
        &.bg-green {
            & + .cta {
                background-color: var(--green);
            }
        }

        & + .cta {
            margin-top: -1px;
        }
    }

    &__title-slot {
        @media (min-width: 0px) and (max-width: 991.98px) {
            margin-left: auto;
            margin-right: auto;
            max-width: 31.2rem;
        }
    }

    &__title {
        position: relative;

        & .title-icon-1 {
            position: absolute;
            display: none;
        }

        & span:not(:first-child):last-child {
            font-style: italic;
        }
    }

    &__title-desk {
        display: none;
        flex-direction: column;

        @media (min-width: $mq-lg) {
            display: flex;
        }
    }

    &__title-mob {
        display: flex;
        flex-direction: column;
        @media (min-width: $mq-lg) {
            display: none;
        }
    }

    &__text {
        margin-top: 2.4rem;
        display: grid;
        gap: 1.6rem;

        @media (min-width: 0px) and (max-width: 991.98px) {
            margin-left: auto;
            margin-right: auto;
            max-width: 50.8rem;
        }

        @media (min-width: $mq-lg) {
            margin-top: 5.4rem;
            grid-template-columns: 1fr 1fr;
            gap: 4.5rem;
        }
    }

    &__text-col-1 {
    }

    &__text-col-2 {
    }


}
