*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}



:focus,
a:focus {
	//opacity: 0.7;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	height: 100%;
	font-size: 10px;

	@media (max-width: 991.98px) {
		font-size: 10px !important;
	}
}
html,
body {
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: var(--grey-3);
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.57;
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	cursor: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAyOSAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuMTMzNDIgMS43MTM3NUMzLjY3MzE0IDAuNDUwMzQzIDAuNzY1NjUgMi4zMTUyNyAwLjg4ODAwNyA1LjA3ODI4TDEuODkxMDkgMjcuNzI4OUMyLjAzNTQ4IDMwLjk4OTQgNi4wOTM4IDMyLjM5MzQgOC4yMjIxMSAyOS45MTkxTDE0Ljc2MiAyMi4zMTYzQzE1LjA5MjYgMjEuOTMxOSAxNS41MjgyIDIxLjY1MjUgMTYuMDE1NCAyMS41MTIzTDI1LjY1MyAxOC43Mzg2QzI4Ljc4OTMgMTcuODM2IDI5LjIwNTYgMTMuNTYxOSAyNi4zMDI0IDEyLjA3MUw2LjEzMzQyIDEuNzEzNzVaIiBmaWxsPSIjRkQ2OEZGIiBzdHJva2U9IndoaXRlIi8+Cjwvc3ZnPgo="),
		auto;

	@media (min-width: $mq-lg) {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 1.69;
	}

	& a {
		color: inherit;
		@media #{$mouse-device} {
			cursor: inherit;
			transition: color 0.15s ease;

			&:hover {
				color: var(--green);
			}
		}
	}

	& button {
		cursor: inherit;
	}
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button {
	box-shadow: none;
	outline: none;
	border: none;
	background-color: transparent;
	padding: 0;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

img {
	vertical-align: top;
}

.img-svg {
	height: 1em;
	width: auto;
}

._page {
	flex: 1 1 auto;
	position: relative;
	z-index: 2;
	background-color: #fff;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding-left: 2.4rem;
	padding-right: 2.4rem;

	@media (min-width: $mq-lg) {
		max-width: 123rem;
	}
}

[data-tab-content] {
	display: none;

	&.tab-active {
		display: block;
		animation: tabs-content 0.6s ease forwards;
	}

	@keyframes tabs-content {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

// === TEXT CONTETN ========================================================================

a,
a:visited {
	text-decoration: none;
}

ul li {
	list-style: none;
}

p,
ul,
ol,
figure {
	margin-top: 0;
	margin-bottom: 1rem;
}

h1 {
	color: var(--black);
	margin: 0;
}

.title-2 {
	font-family: $secondFontFamily;
	font-weight: 800;
	font-size: 5.2rem;
	line-height: 1.03em;
	text-transform: uppercase;
	color: var(--black);

	@media (min-width: $mq-lg) {
		font-size: 12rem;
		line-height: 0.83em;
	}
}
.title-2-mob-lg {
	font-family: $secondFontFamily;
	font-weight: 800;
	font-size: 6.8rem;
	line-height: 0.95em;
	text-transform: uppercase;
	color: var(--black);

	@media (min-width: $mq-lg) {
		font-size: 12rem;
		line-height: 0.83em;
	}
}

h2,
.title-2-subtitle {
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 1.25em;
	color: var(--black);
	margin: 0;

	@media (min-width: $mq-lg) {
		font-size: 3.2rem;
	}
}

h3,
.title-3 {
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 1.68rem;
	color: var(--black);
	margin: 0;

	@media (min-width: $mq-lg) {
		font-weight: 600;
		font-size: 2.4rem;
		line-height: 1.25em;
	}
}
h4,
.title-4 {
	color: var(--black);
	margin: 0;
}
h5,
.title-5 {
	color: var(--black);
	margin: 0;
}

.text-content {
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		margin-bottom: 2rem;
	}

	& p,
	& ul,
	& ol {
		margin-bottom: 2rem;
	}

	& ul:not(.spoller) {
		padding-left: 3em;

		& > li {
			list-style: disc;

			&:not(:last-child) {
				margin-bottom: 0.7em;
			}

			& > *:last-child {
				margin-bottom: 0;
			}
		}
	}

	& ol:not(.spoller) {
		padding-left: 0em;

		& > li {
			&:not(:last-child) {
				margin-bottom: 0.7em;
			}

			& > *:last-child {
				margin-bottom: 0;
			}
		}
	}

	& figure {
		display: block;
		width: 100%;
		margin: 3rem 0;

		@media (min-width: $mq-lg) {
			margin: 4rem 0;
		}

		& img {
			display: block;
			width: 100%;
			height: auto;
		}

		& + h1,
		& + h2,
		& + h3,
		& + h4,
		& + h5,
		& + h6 {
			margin-top: 0rem !important;
		}
	}

	& video {
		object-fit: cover;
		display: block;
		width: 100%;
		height: 60rem;
		margin: 4rem 0;
	}

	& iframe {
		display: block;
		width: 100%;
		height: 60rem;
		margin: 4rem 0;
	}

	& table {
		margin: 4rem 0;

		& + h1,
		& + h2,
		& + h3,
		& + h4,
		& + h5,
		& + h6 {
			margin-top: 0rem !important;
		}
	}

	& p,
	& ul,
	& ol,
	& figure,
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		& ~ h1,
		& ~ h2,
		& ~ h3,
		& ~ h4,
		& ~ h5,
		& ~ h6 {
			margin-top: 2rem;
		}
	}
}

// === and TEXT CONTETN ========================================================================

// == keyframes ======
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
// == // keyframes ======
