.btn-default {
    display: inline-flex;
    align-items: center;
    gap: 1.2rem;
    min-height: 5.6rem;
    border-radius: 999px;
    padding: 1.6rem 6rem 1.6rem 2.4rem;
    position: relative;
    font-size: 1.6rem;
    line-height: 1em;
    font-weight: 700;
    transition: background-color .15s ease, border-color .15s ease, color .15s ease;
    border: 1px solid transparent;
    color: var(--black);

    &:before {
        position: absolute;
        top: 50%;
        right: 2.4rem;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--black);
        color: var(--white);
        transition: background-color .15s ease, color .15s ease;
        content: "\e904";
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        height: 2.4rem;
        width: 2.4rem;
        border-radius: 999px;
    }

    &--primary {
        background-color : var(--green);
        border-color: var(--green);
    }
    &--secondary {
        background-color : var(--white);
        border-color: var(--white);
    }

    @media #{$mouse-device} {
        &:hover {
            background-color: var(--black);
            border-color: var(--white);
            color: var(--white);

            &:before {
                background-color: var(--white);
                color: var(--black);
            }
        }
    }

    &::active {
        scale: 0.98;
    }
}