.not-found-page {

    & .text-banner__title {
        display: block;
        & .title-icon {
            display: block;
            height: 7.7rem;
            right: -0.4rem;
            top: 1.7rem;

            @media (min-width: $mq-lg) {
                height: 21.2rem;
                right: 18.1rem;
                top: 0.7rem;
                transform: none;
            }
        }
    }

    & + .footer {
        background-color: var(--purple);
        margin-top: -1px;
    }
}