//primary section
.service-ux-page {
    & .services-single-primary-section__title {
        flex-direction: row;
        gap: 0.16em;
        & .row-2 {

        }
    }
    @media (min-width: $mq-lg) {


        & .advantages-card__decor-word-1 {
            left: 17.9rem;
        }

    }
}

//color box
.service-ux-page {
    & .text-content-in-color-box__title {
        & .title-icon-1 {
            display: block;
            position: absolute;
            height: 9.3rem;
            left: 21.3rem;
            top: 8.2rem;
            z-index: 3;

            @media (min-width: $mq-lg) {
                height: 16.5rem;
                left: 85.9rem;
                top: 5.3rem;
            }
        }
    }

    & .text-content-in-color-box__title-desk {
        & .row-1 {
            margin-left: 11rem;
        }
    }

    & .text-content-in-color-box__title-mob {
        & .row-2,  & .row-4 {
            font-style: italic;
            margin-left: 8.8rem;
        }
    }
}