
//primary section
.service-development-page, .postid-146 {
    & .services-single-primary-section__title {
        & .row-2 {
            white-space: nowrap;
            margin-left: 2.5rem;
        }
    }
}

//color box
.service-development-page, .postid-146 {
    & .text-content-in-color-box__title {
        & .title-icon-1 {
            display: block;
            position: absolute;
            height: 9.3rem;
            left: 21.3rem;
            top: 8.2rem;
            z-index: 3;

            @media (min-width: $mq-lg) {
                height: 17.5rem;
                left: 90.9rem;
                top: 4.8rem;
            }
        }
    }

    & .text-content-in-color-box__title-desk {
        & .row-1 {
            margin-left: 11.2rem;
        }
    }

    & .text-content-in-color-box__title-mob {
        & .row-2,  & .row-4 {
            font-style: italic;
            margin-left: 8.8rem;
        }
    }
}