.case-studies-secondary-section {
    &.space-top {
        @media (min-width: 0px) and (max-width: 991.98px) {
            margin-top: 0;
        }
    }
    &__inner {
    }

    &__img {
        overflow: hidden;
        border-radius: 2.4rem 2.4rem 0 0;
        height: 0;
        padding-bottom: 100%;

        @media (min-width: $mq-md) {
            padding-bottom: 56.25%;
        }

        @media (min-width: $mq-lg) {
            padding-bottom: 0;
            border-radius: 0;
            overflow: visible;
            height: 100%;
            width: 100%;
        }

        & img {
            object-position: top;
        }
    }

    &__title {
    }

    & .content-two-columns__media {
        @media (min-width: $mq-lg) {
            min-height: 75rem;
        }
    }

    & .content-two-columns__text-content-text-slot {
        margin-top: 1.6rem;

        @media (min-width: $mq-lg) {
            margin-top: 3.2rem;
        }
    }

    & .content-two-columns__text-content-btn-slot {
        & .btn-default {
            @media (min-width: 0px) and (max-width: 991.98px) {
                width: 100%;
            }
        }
    }

    @media (min-width: $mq-lg) {
        & + .banner-with-review-card {
            margin-top: 0;
        }
    }
}
