.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 50;

    transition: transform 0.4s ease;

    &.header--hide {
        transform: translateY(-102%);

        & .header__drop-down.header-drop-down {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
    }

    &.header--green {
        @media (min-width: 0px) and (max-width: 991.98px) {
            & .header__inner,
            & .mobile-menu__inner {
                background-color: var(--green);
            }
        }
    }
    &.header--purple {
        @media (min-width: 0px) and (max-width: 991.98px) {
            & .header__inner,
            & .mobile-menu__inner {
                background-color: var(--purple);
            }
        }
    }
    &.header--blue-light {
        @media (min-width: 0px) and (max-width: 991.98px) {
            & .header__inner,
            & .mobile-menu__inner {
                background-color: var(--light-blue);
            }
        }
    }

    &:not(.header--green):not(.header--purple):not(.header--blue-light) {
        & .mobile-menu__inner {
            background-color: var(--white);

            & .btn-default {
                background-color: var(--green);
            }
        }
    }

    &__inner {
        position: relative;
        z-index: 2;
        background-color: var(--white);
    }

    &__body {
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 6.7rem;
        position: relative;

        @media (min-width: $mq-lg) {
            min-height: 11.2rem;
        }
    }

    &__left {
        margin-right: auto;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14.3rem;

        & img,
        & svg {
            width: 100%;
            height: auto;
        }

        @media (min-width: $mq-lg) {
            width: 19.1rem;
        }
    }

    &__right {
        align-self: center;
        @media (min-width: $mq-lg) {
            display: flex;
            align-items: center;
            gap: 3.6rem;
            align-items: center;
        }
    }

    &__nav {
        display: none;

        @media (min-width: $mq-lg) {
            display: flex;
            margin: 0;
            padding-left: 0;
            gap: 3.6rem;
        }

        & > li.current-page .header__nav-item {
            border-color: currentColor;
        }
    }

    &__nav-item {
        line-height: 1.5em;
        position: relative;
        z-index: 2;
        border-bottom: 1.5px solid transparent;
    }

    &__nav-has-drop-down {
        &:hover {
            & .header__nav-item {
                color: var(--green);

                &:after {
                    transform: translateY(-50%) scaleY(-1);
                }
            }

            & .header__drop-down {
                transition-delay: 0s;
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
                transform: translateY(0);
            }
        }
    }

    &__btn-book {
        display: none;

        @media (min-width: $mq-lg) {
            display: flex;
        }
    }

    &__drop-down {
        position: absolute;
        left: 0;
        right: 0;
        top: calc(100% - 1.8rem);
        transition:
            transform 0.15s ease,
            opacity 0.15s ease,
            visibility 0.15s ease;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(5rem);
        transition-delay: 0.25s;

        &:before {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            bottom: 100%;
            display: block;
            height: 3rem;
            background-color: transparent;
        }
    }

    &__burger {
        position: relative;
        width: 2.4rem;
        height: 1.6rem;
        display: flex;

        @media (min-width: $mq-lg) {
            display: none;
        }

        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
            transition: opacity 0.15s ease;
            display: block;
            user-select: none;
            pointer-events: none;
        }

        & .i-burger {
        }

        & .i-x-mark {
            opacity: 0;
        }

        &.active {
            & .i-burger {
                opacity: 0;
            }

            & .i-x-mark {
                opacity: 1;
            }
        }
    }
}

.header-drop-down {
    background-color: var(--light-blue);
    border-radius: 2rem;
    padding: 2.4rem;
    display: grid;
    grid-template-columns: 24.5rem 1fr;
    gap: 4.2rem;

    &__banner {
        position: relative;
        background-color: #fff;
        overflow: hidden;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
    }

    &__banner-bg {
        flex: 1 1 auto;
        position: relative;
        z-index: 1;
        min-height: 20rem;

        & img {
            z-index: 1;
        }

        &:before {
            position: absolute;
            content: "";
            z-index: 2;
            display: block;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0.01%, #fff 100%);
            left: 0;
            bottom: 0;
            right: 0;
            height: 45.45%;
        }
    }

    &__banner-body {
        padding: 0 2.4rem 2.4rem;
        display: grid;
        gap: 1.6rem;
        position: relative;
        z-index: 2;
        margin-top: -2rem;
    }

    &__banner-title {
        font-size: 2.4rem;
        line-height: 1.25em;
        font-weight: 600;
        color: var(--black);
    }

    &__banner-btn {
        & .btn-default {
            width: 100%;
            padding-left: 2rem;

            &:before {
                right: 1.6rem;
            }
        }
    }

    &__list {
        margin: 0;
        padding-left: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.4rem 4.2rem;
    }

    &__list-item {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        position: relative;

        & > * {
            position: relative;
            z-index: 2;
        }

        &:before {
            position: absolute;
            content: "";
            top: -1.2rem;
            left: -1.6rem;
            bottom: -1.2rem;
            right: -1.6rem;
            background-color: var(--white);
            border-radius: 2rem;
            z-index: 1;
            transition: opacity 0.15s ease;
            opacity: 0;
        }

        @media #{$mouse-device} {
            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &__list-icon {
        flex: 0 0 auto;
        height: 3.6rem;
        width: 3.6rem;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            width: auto;
            height: auto;
            width: 100%;
            max-height: 100%;
        }
    }

    &__list-content {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    &__list-title {
        margin: 0;
        line-height: 1;
        font-weight: 600;
        color: var(--black);
        text-transform: capitalize;
    }

    &__list-text {
        font-size: 1.2rem;
        color: var(--grey-3);
    }
}

.mobile-menu {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    height: calc(100dvh - var(--header-height) + 1px);
    transition:
        transform 0.3s ease,
        opacity 0.3s ease,
        visibility 0.3s ease;
    opacity: 0;
    transform: translateY(-100%);
    visibility: hidden;
    pointer-events: none;
    background-color: #fff;

    &--open {
        opacity: 1;
        transform: translateY(0%);
        visibility: visible;
        pointer-events: auto;
    }

    @media (min-width: $mq-lg) {
        display: none;
    }

    &__inner {
        height: calc(100% - 3rem);
        border-radius: 0 0 2.4rem 2.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2.4rem;
    }

    &__scroll-container {
        overflow-x: auto;
        height: 100%;
    }

    &__body {
        padding: 2.4rem;
        gap: 2.4rem;
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    &__list {
        list-style: none;
        padding-left: 0;
        margin: 0;

        & > li {
            position: relative;
            padding-top: 1.6rem;
            padding-bottom: 1.6rem;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                right: 0;
                bottom: 0;
                height: 1px;
                background-color: var(--light-green);
            }

            & > a {
                display: block;
                font-weight: 500;
                font-size: 1.8rem;
                position: relative;
                line-height: 1.78em;
                color: #08090a;
        
                &:before {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--black);
                    color: var(--white);
                    transition:
                        transform 0.15s ease,
                        color 0.15s ease;
                    content: "\e905";
                    font-family: "icomoon" !important;
                    speak: never;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    /* Better Font Rendering =========== */
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-weight: 400;
                    height: 2.4rem;
                    width: 2.4rem;
                    border-radius: 999px;
                    font-size: 1.2rem;
                    padding-bottom: 0.05em;
                }
        
                &.active {
                    &::before {
                        transform: translateY(-50%) rotate(-90deg);
                    }
                }
            }

            & ul.sub-menu {
                padding-left: 0;
                margin: 0;
                padding-top: 1.2rem;
                display: none;

                & > li {
                    &:not(:first-child) {
                        margin-top: 1.2rem;
                    }
                }

                & a {
                    display: flex;
                    align-items: center;
                    gap: 1.6rem;
                    color: #070a21;

                    &:before {
                        content: "";
                        width: 0.8rem;
                        height: 0.4rem;
                        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDEwIDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFIOSIgc3Ryb2tlPSIjMDgwOTBBIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }


    &__btn {
        padding: 0 2.4rem 2.4rem;

        & .btn-default {
            width: 100%;
        }
    }
}
